<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Kinderen</h3>
    </div>
    <div class="panel-body">
        <table class="table-kind">
            {% for kind in huishouden.kinderen %}
                <tr>
                    <td>{{ kind.naam }}</td>
                    <td>{{ kind.gebdatum|date("Y/m/d") }}</td>
                </tr>
            {% endfor %}
        </table>      
    </div>
</div>
