
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">HuurToeslag</h3>
    </div>
    <div class="panel-body">
        Huurtoeslag per maand: {{ huishouden.huurtoeslag(2016)|number_format(2) }}
        <table>
        </table>      
    </div>
</div>
