
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">ZorgToeslag</h3>
    </div>
    <div class="panel-body">
        ZorgToeslag per jaar: {{ huishouden.zorgtoeslag|number_format }}
        <table>
        </table>      
    </div>
</div>
